@font-face {
    font-family: 'Savior1';
    src: url('assets/fonts/Savior1.eot');
    src: url('assets/fonts/Savior1.otf') format('opentype'),
        url('assets/fonts/Savior1.woff') format('woff'),
        url('assets/fonts/Savior1.svg#Savior1') format('svg');
    font-style: normal;
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body{
  background-color:black;
}

hr{
  width:100%;
  margin:0 auto;
}

h1,h2,h3,p,a,li,button{
  color:white;
  font-family: 'Savior1','VT323', monospace;
  letter-spacing:0.125em;
}

.line-break{
  display: block;
}
a:hover{
  background:blue;
}

h1{
  position:sticky;
  top:0;
  z-index:10;
  background:black;
  padding:0.675em 0;
  margin:0 0 2px 0;
  font-size:2.25em;
}

h2{
  font-size:1.825em;
  line-height: 1.35em;
}

.h2br{
  display:block;
  margin-bottom:0em;
}

h3{
  font-size:1.625em;
}

p,button,li{
  line-height: 1.35em;
  font-size:1.4em;
}

ul{
  list-style: none;
}

ul li::before {
  content: ">";
  font-weight: bold;
  display: inline-block;
  width: 0.75em;
  margin-left: -1.2em;
}

button{
  border:none;
  text-align:left;
}

br{
  display:block;
  content:"";
  margin-top:1.15em;
}

main{
  display:block;
  margin-top:50px;
  padding: 0;
}


.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

.left{
  left:0;
  width:50%;
}

.right{
  right:0;
  width:50%;
}

section{
  display:none;
  margin:0;
  padding:0;
}

section>div.textbox{
  margin:25px 25px 25px 25px;
  width:calc(100vw - 65px);
}

.errorbox>p{
  border:1px solid orange;
  background:rgba(255,127,0,0.25);
  padding:10px;
  text-align:center;
}

.videobox{
  width:100% !important;
  height:auto !important;
}

audio, video{
  outline:none;
}

audio{
    width:100%;
}

.default-section{
  display:inline-block;
  width:100%;
}

.toolbar{
  width:calc(100vw - 65px);
  margin:35px 25px 0 25px;
}

button.UI-option{
  color:gray;
  background-color:transparent;
  border: 2px solid gray;
}

button.UI-option:hover, button.UI-option:focus{
  color: white;
  background:#404040;
  border: 2px solid white;
}

button.UI-option:active{
  color: white;
  background:blue;
  border: 2px solid white;
}

nav#log{
  margin:0;
  padding:0;
}

section img{
  max-width: 100%;
  max-height: 100%;
}

button.menu-option{
  background:none;
  padding:0.675em 0;
  margin:1px 0;
  display:inline-block;
  width:100%;
  scroll-margin:100px;
}

button.selected, button.menu-option:active{
  background:blue;
  box-shadow:0 0 0 2px blue;
}

button.menu-option:focus{
  outline:2px solid blue;
}

button.UI-option{
  display:block;
  padding:5px 10px;
}

model-viewer{
  width:100%;
  height:300px;
  outline: none;
  margin:10px 0;
  --progress-bar-color: rgba(255, 255, 255, 1);
}

model-viewer:target,model-viewer:focus,model-viewer:active{
  outline:none;
}

.hotspot{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: rgba(255,255,255,0);
  -webkit-box-shadow: 0 0 11px cyan;
  -moz-box-shadow: 0 0 11px cyan;
  border: 1px solid cyan;
  box-sizing: border-box;
  /*pointer-events: none;*/
}

.hotspot:not([data-visible]){

}

.hotspot:hover,.hotspot:focus{
  background: white;
  -webkit-box-shadow: 0 0 24px cyan;
  -moz-box-shadow: 0 0 24px cyan;
  outline:none;
}

.hotspot>div.annotation{
  width:294px;
  height:125px;
  display:block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
  -moz-transition: visibility 0s, opacity 0.5s ease;
  -webkit-transition: visibility 0s, opacity 0.5s ease;
  overflow: hidden;
  margin: 0;
  background: rgba(0,0,0,0);
  position: absolute;
  transform: translate(-147px, 10px);
  padding: 10px;
  text-align:center;
}

div.annotation>p{
  z-index:10;
  position:absolute;
  left:0;
  right:0;
  top:-5px;
  bottom:0;
  margin: auto;
  color: white;
  font-family: 'Savior1', monospace;
  font-size:1.4em;
  line-height: 1.35em;
}

div.annotation>img{
  max-width: 100%;
  width: auto;
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 11px rgb(255 255 255);
  -moz-box-shadow: 0 0 11px rgba(255, 255, 255, 1);
  border: 1px solid #b4b3b3;
}
/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;

}

.hotspot:hover>div.annotation, .hotspot:focus>div.annotation{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s ease;
    -o-transition: visibility 0s, opacity 0.5s ease;
    -ms-transition: visibility 0s, opacity 0.5s ease;
    -moz-transition: visibility 0s, opacity 0.5s ease;
    -webkit-transition: visibility 0s, opacity 0.5s ease;
  }

@media only screen and (min-width: 992px) {
  section>div.textbox{
    margin:25px 25px 25px 25px;
    width:calc(50vw - 65px);
  }
}
